{% load static %}
<div class="main-menu" style="display: none">
    <div class="main-menu-container">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item top-item" data-accordion-item >
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Indice</a>

                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <ul class="accordion" data-accordion>

                        <!-- start ambito loop -->


                        <li class="accordion-item" data-accordion-item>
                            <!-- ambito title -->
                            <a href="#" class="accordion-title">Ambito 1</a>

                            <div class="accordion-content" data-tab-content>

                                <ul>
                                    <!-- start materia loop -->
                                    
                                    <li>
                                        <a href="#">Materia</a>
                                    </li>
                                    <!-- end materia loop -->
                                </ul>
                                
                            </div>
                        </li>
                      <!-- end ambito loop -->

                    </ul>
                </div>
            </li>
           
        </ul>
        <div class="menu-test">
            <a href="#" class="dashboard-test-button">
                <i class="fas fa-vial"></i> Test
            </a>
        </div>
        <hr>
        <div class="end-sesh">
            <a href="{% url 'logout_view' %}" class="end-sesh-btn"> <i class="fa fa-sign-out-alt "></i> Cerrar sesión</a>
        </div>
    </div>

</div>
<div class="menu-cover" style="display: none">

</div>