{% load static %}
<div class="main-menu" style="display: none">
    <div class="main-menu-container">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item top-item" data-accordion-item >
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Índice</a>

                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" id="index" data-tab-content>


                        <!-- start ámbito loop -->
                    {% load vle_extras %}
                    {% get_menu %}


                </div>
            </li>

        </ul>
        {% if not request.user.profile.large_quiz_completed %}
        <div class="menu-test">
            <a href="{% url 'large_learning_quiz_view' %}" class="dashboard-test-button">
                <i class="fas fa-vial"></i> Evaluación de Estilo de Aprendizaje
            </a>
        </div>
        {% endif %}
        <hr>
        <div class="end-sesh">
            <a href="{% url 'logout_view' %}" class="end-sesh-btn"> <i class="fa fa-sign-out-alt "></i> Cerrar sesión</a>
        </div>
    </div>

</div>
<div class="menu-cover" style="display: none">

</div>