{% load static %}
{% load vle_extras %}
<div class="top-nav">
    <div class="top-nav-container">        
        <button class="menu-open" type="button" id="ham-btn">
            <i class="fas fa-bars"></i>
        </button>
        <a href="{% url 'dashboard_view'%}" class="top-nav-title" title="Dashboard">
            <img src="{% static "/webapp/media/alumnica-logo-100.png"%}" alt="Alumnica Dashboard">
        </a>
    
        <button type="button" class="top-menu-btn" id="search-btn" title="Búsqueda">
            <i class="fa fa-search"></i>
        </button>
        <a href="{% url 'ambitos-grid_view' %}" class="top-menu-btn" id="top-menu-grid" title="Grid de Ambitos">
            <i class="fa fa-th"></i>
        </a>
        <a href="{% url 'profile_view' %}" class="top-menu-btn" id="top-menu-icon" title="{{ user.first_name }} {{ user.last_name }}">

            <img src="{% static '' %}webapp/media/{{ request.user.profile.avatar }}0{{ request.user.profile.experience_points|learner_level }}.png" alt="" id="{{ request.user.profile.avatar }}">

        </a>  
        <a class="top-menu-btn" id="noti-btn" title="Notificaciones">
            <i class="fa fa-bell"></i>
          </a>      
        
    </div>
    <div class="the-search" id="search-box" style="display: none">
{#        <form method="POST">#}
{#            {% csrf_token %}#}
            <div class="search-group">
                <span>
                    <i class="fa fa-search"></i>
                </span>
                <input type="text" name="searcher" id="searcher" placeholder="Busqueda" class="placechange" autocomplete="off">
            </div>
{#        </form>#}
    </div>
    {% include "webapp/partials/notification.html" %}
</div>
        <div class="search-cover" style="display: none">
            <!-- nothing here -->
        </div>
<script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
<script src="{% static "webapp/js/search.js" %}"></script>

{% include "webapp/partials/menu.html" %}