{% load static %}
{% load vle_extras %}
<!--div class="top-nav">
    <div class="top-nav-container">
 
        <a href="https://www.alumnica.org" class="top-nav-title" title="Dashboard">
            <img src="{% static "/webapp/media/alumnica-logo-100.png"%}" alt="Alumnica">
        </a>
        
    </div>
</div>
<div class="out-menu" style="display: none;">
    <ul>
        <li>
            <a href="https://www.alumnica.org"><img src={% static 'webapp/media/alumnica-favico.png' %}> Alumnica.org</a>
        </li>
    </ul>
</div>
<div class="menu-cover-out" style="display: none;"></div-->