boto3==1.7.12
botocore==1.10.12
certifi==2018.4.16
chardet==3.0.4
dj-config-url==0.1.1
Django==2.0.3
django-db-prefix==1.0.5
django-storages==1.6.6
django-use-email-as-username==1.0.0
djangorestframework==3.8.2
docutils==0.14
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
Pillow==5.0.0
psycopg2-binary==2.7.4
python-dateutil==2.7.2
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
sorl-thumbnail==12.4.1
sweetify==1.0.3
urllib3==1.22
whitenoise==3.3.1
xlrd==1.1.0
