{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell medium-6">
           <h3>Cambiar de contraseña</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Cambiar contraseña</button>
      </form>
        </div>
      </div>
    </div>
  {% else %}
    <div class="grid-container">
      <p>
El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó.
      Solicite un nuevo restablecimiento de contraseña.
    </p>
    </div>
  {% endif %}
{% endblock %}