{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content%}
<div class="grid-container">
<div class="grid-x">


    <form method="post">
        {% csrf_token %}

        Tu cuenta no ha sido activada!
        Por favor revisa tu correo electrónico y da click sobre el link de verificación
        En caso de no haber recibido ningún link, da click en el botón de reenviar
      <br>
        <button class="button" type="submit">Reenviar</button>
    </form>
</div>
</div>
{% endblock %}