{% extends "logged-in.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class='container' id="preloader">
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>
    
    <script>
        setTimeout(function(){
            document.getElementById("preloader").classList.add("is-load");
        }, 1000);
    </script>
<!-- end preloader -->

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid-container">

            <div class="grid">
                {% for ambit in ambits_list %}
                        <div class="grid-item">
                            <div class="card">
                                <div class="front {{ ambit.color }}">
                                    <div class="ambito-image">
                                        <img src=" {{ MEDIA_URL }}{{ ambit.background_image.file.url }}"
                                             alt="{{ ambit.name }}">
                                    </div>
                                    <div class="ambito-title {{ ambit.color }}_text">
                                        {{ ambit.name }}
                                    </div>
                                </div>
                                <div class="back {{ ambit.color }}">
                                    <div class="{{ ambit.color }}_text">
                                        {{ ambit.name }}
                                    </div>

                                    {% for subject in ambit.subjects.all %}
                                        <a href="{% url 'subject_view' subject.pk %}" class="materia">
                                            {{ subject.name }}
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                {% endfor %}

            {% if ambits_list|length == 0 %}
                {% trans "No existe ningún ámbito publicado" %}
            {% endif %}

            </div>


        </div>
    </form>

    
<!-- makes  menu active -->
<script>
        document.querySelector('#top-menu-grid').classList.add("top-active");
</script>


{% endblock %}

{% block scripts %}
    
    <script src="{% static "webapp/js/ambitos-grid.js" %}"></script>
{% endblock %}