{% extends "logged-in.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<a href="{% url 'dashboard_view' %}" class="mat-grid-btn">
    <i class="fas fa-th"></i>
</a>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid-container u-margin-top-small">

            <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "gutter": 15, "isFitWidth": true}'>
                {% for ambit in ambits_list %}
                        <div class="grid-item">
                            <div class="card">
                                <div class="front {{ ambit.color }}">
                                    <div class="ambito-image">
                                        <img src=" {{ MEDIA_URL }}{{ ambit.background_image.file.url }}"
                                             alt="{{ ambit.name }}">
                                    </div>
                                    <div class="ambito-title {{ ambit.color }}_text">
                                        {{ ambit.name }}
                                    </div>
                                </div>
                                <div class="back {{ ambit.color }}">
                                    <div class="{{ ambit.color }}_text">
                                        {{ ambit.name }}
                                    </div>

                                    {% for subject in ambit.subjects.all %}
                                        <a href="{% url 'subject_view' subject.pk %}" class="materia">
                                            {{ subject.name }}
                                        </a>
                                    {% endfor %}

                                </div>
                            </div>
                        </div>
                {% endfor %}

            {% if ambits_list|length == 0 %}
                {% trans "No existe ningún ámbito publicado" %}
            {% endif %}

            </div>


        </div>
    </form>



{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="{% static "webapp/js/ambitos-grid.js" %}"></script>
{% endblock %}