{% extends "logged-in.html" %}
{% load static %}
{% load vle_extras %}
{% block content %}

<div class='container' id="preloader">
    <div class='loader'>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--dot'></div>
        <div class='loader--text'></div>
    </div>
</div>

<script>
    setTimeout(function(){
        document.getElementById("preloader").classList.add("is-load");
    }, 1000);
</script>

<!-- end preloader -->

<div class="grid-container">
        <div class="dashboard-grid">
            <div class="profile-picture">
                <a href="{% url 'profile_view' %}">
                    <img src="{% static '' %}webapp/media/{{ request.user.profile.avatar }}0{{ request.user.profile.experience_points|learner_level }}.png" alt="profile picture">

                </a>
            </div>
            <div class="user-info">
                <a class="user-info-name">
                    {{ user.first_name }} {{ user.last_name }}
                </a>
                <div class="user-info-score">
                    <i class="fa fa-star"></i> {{ user.profile.experience_points }}
                </div>

                    <div class="user-info-test">
                        {% if not request.user.profile.large_quiz_completed %}
                        <a href="{% url 'large_learning_quiz_view' %}" class="dashboard-test-button"> <!-- link a test -->
                            <i class="fas fa-vial"></i> Test
                        </a>
                        {% endif %}
                    </div>

            </div>
            <div class="recent-activity">
                <div class="recent-activity-heading">
                    <span class="title">Actividad Reciente</span>
                    <span class="recent-activity-link">
                        <a href="{% url 'recent_activity_view' %}" title="Ver toda actividad reciente"> <!-- link a recent-activity-->
                            <i class="fa fa-calendar-alt"></i>
                        </a>
                    </span>
                </div>


                {% for activity in recent_activities %}
                <!-- start recent activity item -->
                <a title="Ir a ODA"  href="{% url 'oda_view' activity.0.pk %}" class="recent-activity-item" style="background: url({{ activity.1.background_image.file.url }}); background-size: cover;">
                    <div class="recent-activity-oda">
                        <img src="{{ activity.0.active_icon.file.url }}" alt="{{ activity.0.name }}">
                    </div>
                    <div class="recent-activity-oda-text">
                            {{ activity.0.name }}
                    </div>
                </a>
                <!-- end recent activity item -->
                {% endfor %}                          
            </div>
            <!-- end recent activity -->
            {% if not request.user.profile.large_quiz_completed %}
                <div class="dashboard-test">
                    <a href="{% url 'large_learning_quiz_view' %}" class="dashboard-test-button">
                        <i class="fas fa-vial"></i> Test
                    </a>
                </div>
            {% endif %}
            <div class="blog">
                <div class="blog-content">
                   <script src="//rss.bloople.net/?url=https%3A%2F%2Fblog.alumnica.org%2Ffeed%2F&limit=3&showtitle=false&type=js"></script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block scripts %}

{% endblock %}
