{% extends "logged-in.html" %}
{% load static %}

{% block content %}

    <div class="grid-container dash-top-margin">
        <div class="user-info">
            <div class="grid-x grid-margin-x grid-margin-y">
                <div class="cell medium-12">
                    <div class="grid-x align-middle grid-margin-x">
                        <div class="cell shrink">
                            <img src="{% static 'webapp/media/perfil-01-01_100x100.png' %}" alt="Avatar Picture">
                        </div>
                        <div class="cell shrink">
                            <h4>{{ user.first_name }} {{ user.last_name }}</h4>
                            <p class="h5">
                                <i class="fas fa-star star"></i>
                                {{ user.profile.experience_points }}</p>
                        </div>
                        <div class="cell shrink">


                        </div>
                    </div>
                </div>
                <div class=" cell medium-6">
                    <p class="caps">Mapa de Selección de Materias</p>
                    <div id="materias-slider" class="owl-carousel owl-theme">
                        {% for ambit in ambits %}
                         <a href="{% url 'ambitos-grid_view' %}" class="dash-ambit">
                            <div class="dash-card {{ ambit.color }}">
                                <div class="dash-ambit-image">
                                    <img src="{{ MEDIA_URL }}{{ ambit.background_image.file.url }}" alt="{{ ambit.name }}">
                                </div>
                                <div class="dash-text {{ ambit.color }}_text">
                                        {{ ambit.name }}
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <div class="cell medium-6">
                    <p class="caps">Insignias</p>
                    <div id="insignias-slider" class="owl-carousel owl-theme">
                        <div class="insignia">
                            <img src="{% static 'webapp/media/insignias/insignia_ambito.png' %}" alt="">
                        </div>
                        <div class="insignia">
                            <img src="{% static 'webapp/media/insignias/insignia_login.png' %}" alt="">
                        </div>
                        <div class="insignia">
                            <img src="{% static 'webapp/media/insignias/insignia_microODA.png' %}" alt="">
                        </div>
                        <div class="insignia">
                            <img src="{% static 'webapp/media/insignias/insignia_ODA.png' %}" alt="">
                        </div>

                    </div>
                </div>
                <div class="cell medium-6">

                </div>
                <div class="cell medium-6">
                    <p class="caps">Actividad Reciente</p>
                    <div class="grid-x grid-margin-y">
                        {% for activity in recent_activities %}
                         <div class="cell medium-12">
                                <div class="actividad-receinte" style="background: url({{ activity.1.background_image.file.url }}); background-size: cover;">
                                    <a href="{% url 'oda_view' activity.0.pk %}" class="oda-reciente">
                                        <div class="oda-reciente-image">
                                            <img src="{{ activity.0.active_icon.file.url }}" alt="camion">
                                        </div>
                                        <div class="oda-reciente-text">
                                                <p>{{ activity.0.name }}</p>
                                        </div>
                                    </a>
                                </div>
                         </div>

                        {% endfor %}
                        <div class="cell meium-12 text-center">
                            <a href="#" class="">Ver más ODAs incompletas</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{% static "webapp/js/dashboard.js" %}"></script>
{% endblock %}

