{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="grid-container">
    <div class="grid-x align-center">
        <div class="cell medium-8 caps">
            <p class="h5">Define tu estilo de aprendizaje</p>
            <p>¿Qué crees que te domine más en tu forma de aprender?</p>
        </div>
        <div class="cell medium-8">
            <form method="POST" class="first-q-form">
                {% csrf_token %}
                <div class="first-q-form__container">
                    <div class="first-q-form__radio-group">
                        <input type="radio" class="first-q-form__radio-input" id="p1-1" name="pregunta-1set" value="1">
                        <label for="p1-1" class="first-q-form__radio-label-1">
                            <div class="first-q-form__radio-image">
                                <img src="{% static "/webapp/media/tipo_apr01.png"%}" alt="">
                            </div>
                            Las características de tu personalidad.
                        </label>
                    </div>
                    <div class="first-q-form__radio-group">
                        <input type="radio" class="first-q-form__radio-input" id="p1-2" name="pregunta-1set" value="2">
                        <label for="p1-2" class="first-q-form__radio-label-1">
                            <div class="first-q-form__radio-image">
                                <img src="{% static "/webapp/media/tipo_apr02.png"%}" alt="">
                            </div>
                            Las estrategias que has aprendido como estudiante.
                        </label>
                    </div>
                </div>
                <input type="submit" value="SIGUIENTE" class="button expanded u-margin-top-small">

            </form>
        </div>
    </div>
</div>

{% endblock %}