{% extends "base.html" %}

{% block content %}



<div class="grid-container">
    <div class="grid-x align-center">
        <div class="medium-8 cell">
            <h3>Bienvenido</h3>
            <hr>
            <p class="h4">Completa tu perfil:</p>
        </div>

        <div class="medium-8 cell">            
            <form method="POST" role="form">
                {% csrf_token %}
                <div class="grid-x grid-padding-x">

                    <div class="medium-6 cell">
                        <label>Nombre {{ form.first_name }}
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Apellidos {{ form.last_name }}
                        </label>
                    </div>
                    <div class="medium-6 cell">
                        <label>Fecha de Nacimiento {{ form.birth_date_field }}
                        </label>
                    </div>
                    <div class="medium-12 cell">
                        <legend>Sexo</legend>
                        <input required type="radio" name="gender" value="MALE"> HOMBRE
                        <input required type="radio" name="gender" value="FEMALE"> MUJER
                        <input required type="radio" name="gender" value="OTHER"> OTRO
                        <input required type="radio" name="gender" value="NA"> NO APLICA
                    </div>

                    {% comment %}
                    <a href="first-login-p1.html" class="button expanded u-margin-top-small">SIGUIENTE</a> {% endcomment %}
                    <input type="submit" value="SIGUIENTE" class="button expanded u-margin-top-small">

                </div>
            </form>
        </div>
    </div>
</div>





{% endblock %}
