{% extends "base.html" %}
{% load static %}`
{% block content %}

<section class="home-bg">
</section>
<div class="grid-container">
  <div class="grid-x align-right align-bottom">
    <div class="cell medium-5 text-center">
            <div class="index-content">
                <div style="margin-bottom: 1rem;">
                     <img src="{% static "/webapp/media/aluminca-logo-index.png"%}" alt="Alumnica">
                </div>
                <a href="{% url 'login_view' %}" class="button large login-btn">Iniciar Sesión</a>
                <p class="login-p">¿Aún no tienes cuenta?</p>
                <a href="{% url 'signup_view' %}">REGÍSTRATE AHORA</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

