{% extends "user_form.html" %}
{% load static %}

{% block form %}
<form class="cell" method="POST">
  {% csrf_token %}
  <div class="relative cell">
    <label class="inside-label">e-mail </label>
    {{ form.email }}
  </div>
  <div class="relative cell">
    <label class="inside-label">contraseña </label>
    {{ form.password }}
  </div>
  <div class="cell text-right forgot-pass">
    <a href="{% url 'password_reset' %}"><span>¿</span>olvidaste tu constraseña<span>?</span></a>
  </div>
  <div class="cell">
    <input type="submit" class="button landing-button-hollow" value="Iniciar Sesión" />
  </div>
</form>

<div class="cell small-5 divider-form">
  <hr />
</div>
<div class="cell small-2 text-center divider-form">
  o
</div>
<div class="cell small-5 divider-form">
  <hr />
</div>
<div class="cell face">
  <a class="button facebook-button-hollow" href="{% url 'social:begin' 'facebook' %}">
    <i class="fab fa-facebook-square fa-2x icon-button"></i>
    Entrar con Facebook</a>
</div>
<div class="cell goog">
  <a class="button google-button-hollow" href="{% url 'social:begin' 'google-oauth2' %}">
    <img class="google-logo" src="{% static '/webapp/media/landing/Google_logo.svg' %}" />
    Entrar con Google</a>
</div>
<div class="cell text-center no-account">
  <p class="">
    <span>¿</span>no tienes cuenta<span>?</span>
    <a href="{% url 'signup_view'%}">registrate</a>
  </p>
</div>
{% endblock form %}