{% extends "logged-in.html" %}
{% load static %}
{% block content %}

<div class="grid-container">
    <h4>{{ subject.name }}</h4>
    <div class="grid-x align-center">
        <div id="the-odas">

            {% for oda, state in odas_zip %}
                {% if oda.section == 1 %}

                    <div class="block" id="oda-{{ oda.pk }}" data-n="a-{{ oda.zone }}" state="{{ state }}">
                        <a href="#" class="oda-image">
                            {% if state != 'finalized' %}
                                <img src="{{ oda.active_icon.file.url }}" alt="">
                            {% else %}
                                <img src="{{ oda.completed_icon.file.url }}" alt="">
                            {% endif %}
                        </a>
                    </div>

                {% elif oda.section == 2 %}

                    <div class="block" id="oda-{{ oda.pk }}" data-n="b-{{ oda.zone }}" state="{{ state }}">
                        <a href="#" class="oda-image">
                            {% if state != 'finalized' %}
                                <img src="{{ oda.active_icon.file.url }}" alt="">
                            {% else %}
                                <img src="{{ oda.completed_icon.file.url }}" alt="">
                            {% endif %}
                        </a>
                    </div>

                {% elif oda.section == 3 %}

                    <div class="block" id="oda-{{ oda.pk }}" data-n="c-{{ oda.zone }}" state="{{ state }}">
                        <a href="#" class="oda-image">
                            {% if state != 'finalized' %}
                                <img src="{{ oda.active_icon.file.url }}" alt="">
                            {% else %}
                                <img src="{{ oda.completed_icon.file.url }}" alt="">
                            {% endif %}
                        </a>
                    </div>

                {% elif oda.section == 4 %}

                    <div class="block" id="oda-{{ oda.pk }}" data-n="d-{{ oda.zone }}" state="{{ state }}">
                        <a href="#" class="oda-image">
                            {% if state != 'finalized' %}
                                <img src="{{ oda.active_icon.file.url }}" alt="">
                            {% else %}
                                <img src="{{ oda.completed_icon.file.url }}" alt="">
                            {% endif %}
                        </a>
                    </div>

                {% endif %}
            {% endfor %}

           
        </div>

        {% for section, zone in subject_zip %}
            <div class="cell medium-4 large-3">
            <div class="canvas" style="background-image: url({{ section.file.url }})">
                <div class="frame">
                    <div id="{{ zone }}-1" class="drop-area"></div>
                    <div id="{{ zone }}-2" class="drop-area"></div>
                    <div id="{{ zone }}-3" class="drop-area"></div>
                    <div id="{{ zone }}-4" class="drop-area"></div>
                </div>
                <div class="frame">
                    <div id="{{ zone }}-5" class="drop-area"></div>
                    <div id="{{ zone }}-6" class="drop-area"></div>
                    <div id="{{ zone }}-7" class="drop-area"></div>
                    <div id="{{ zone }}-8" class="drop-area"></div>
                </div>
                <div class="frame">
                    <div id="{{ zone }}-9" class="drop-area"></div>
                    <div id="{{ zone }}-10" class="drop-area"></div>
                    <div id="{{ zone }}-11" class="drop-area"></div>
                    <div id="{{ zone }}-12" class="drop-area"></div>
                </div>
                <div class="frame">
                    <div id="{{ zone }}-13" class="drop-area"></div>
                    <div id="{{ zone }}-14" class="drop-area"></div>
                    <div id="{{ zone }}-15" class="drop-area"></div>
                    <div id="{{ zone }}-16" class="drop-area"></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static "webapp/js/materias.js" %}"></script>
{% endblock %}