{% extends "logged-in.html" %}
{% load static %}
{% block content %}

<div class='container' id="preloader">
        <div class='loader'>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--dot'></div>
            <div class='loader--text'></div>
        </div>
    </div>

    <script>
        setTimeout(function(){
            document.getElementById("preloader").classList.add("is-load");
        }, 6000);
    </script>
<!-- end preloader -->

<div id="moments">
    <div class="section">
        {% for moment in moment_array %}
        <div class="slide">
            <div class="h5p-cont ">
                <iframe src="{% url 'package_view' job_id=moment.h5p_package.job_id %}" class="the-h5p" frameborder="0">

                </iframe>

            </div>
        </div>
        {% endfor %}
        <!-- <div class="slide">
            <div class="h5p-cont ">
                <iframe id="second" src="" class="the-h5p" frameborder="0">

                </iframe>
            </div>
        </div>
        <div class="slide">
            <div class="h5p-cont ">
                <iframe id="third" src="" class="the-h5p" frameborder="0">

                </iframe>
            </div>
        </div> -->
        <div class="slide">
            <div class="h5p-cont ">
                <div id="fourth">
                  <div class="end-uoda-btn">
                    Terminar µODA
                  </div>
                  <div class="end-scoring" style="display: none;">
                    <div class="end-scoring_title">
                      {% if moment_array.0.microoda.type.name == "application" %}

                        <img src="{% static "/webapp/media/uODAs/iconos/apli.png"%}" alt="Aplicacion">
                    {% elif moment_array.0.microoda.type.name == "formalization" %}
                        <img src="{% static "/webapp/media/uODAs/iconos/forma.png" %}" alt="Formalizacion">
                    {% elif moment_array.0.microoda.type.name == "activation" %}
                        <img src="{% static "/webapp/media/uODAs/iconos/activ.png" %}" alt="activacion">
                    {% elif moment_array.0.microoda.type.name == "exemplification" %}
                        <img src="{% static "/webapp/media/uODAs/iconos/ejem.png" %}" alt="ejemplificacion">
                    {% elif moment_array.0.microoda.type.name == "sensitization" %}
                        <img src="{% static "/webapp/media/uODAs/iconos/sens.png" %}" alt="sensibilizacion">
                    {% endif %}
                      <span>uODA completada</span>
                    </div>
                    <div class="end-scoring_bonus">
                      <div class="bonus-box xp">
                        <div class="bonus-box_icon">
                          <i class="fas fa-angle-double-up"></i>
                        </div>
                        <div class="bonus-box_number">
                          {{ equation.base_xp }}
                        </div>
                        <div class="bonus-box_title">
                          XP Base
                        </div>
                      </div>
                      <strong>x</strong>
                      <div class="bonus-box daily">
                        <div class="bonus-box_icon">
                          <i class="fas fa-calendar-times"></i>
                        </div>
                        <div class="bonus-box_number">
                          {{ equation.daily_bonus }}
                        </div>
                        <div class="bonus-box_title">
                          Bonus Diario
                        </div>
                      </div>
                      <strong>x</strong>
                      <div class="bonus-box ea">
                        <div class="bonus-box_icon">
                          <i class="far fa-check-square"></i>
                        </div>
                        <div class="bonus-box_number">
                          {{ equation.bonus_ea }}
                        </div>
                        <div class="bonus-box_title">
                          Bonus Secuencia
                        </div>
                      </div>
                      <strong>x</strong>
                      <div class="bonus-box repeated">
                        <div class="bonus-box_icon">
                          <i class="fas fa-redo-alt"></i>
                        </div>
                        <div class="bonus-box_number">
                          {{ equation.pen_rep }}
                        </div>
                        <div class="bonus-box_title">
                          Repetido
                        </div>
                        <div>
                        </div>
                      </div>
                    </div>
                    <div class="end-scoring_score">
                      <div class="xp-number">
                        {{ points }}
                      </div>
                      <div class="xp-badge">
                        <i class="fas fa-angle-double-up"></i>
                        <span>XP</span>
                      </div>
                    </div>
                    <a href="#" class="end-scoring_btn">Continuar</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- return buttons -->

<a href="{% url 'oda_view' moment_array.0.microoda.oda.pk  %}" class="mom-return-btn">
    <i class="fas fa-undo-alt"></i>
</a>
<div id="momMenu">

</div>
<script type="text/javascript">
    let microoda = {{ moment_array.0.microoda.pk }};

</script>

{% endblock %}

{% block scripts %}
<script src="{% static "webapp/js/the-moments.js" %}"></script>
{% endblock %}