{% extends "logged-in.html" %}
{% load static %}
{% block content %}

<div class="grid-container">
        <p class="recent-title">Actividad receinte</p>
    
        <div class="recent-container">
        {% for oda in odas_list %}
            <!-- start recent activity item loop -->
            <a href="{%  url 'oda_view' oda.pk %}" class="recent-activity-item" style="background: url({{ oda.subject.background_image.file.url }}); background-size: cover;">
                <div class="recent-activity-oda">
                    <img src=" {{ oda.active_icon.file.url }}" alt="{{ oda.name }}">
                </div>
                <div class="recent-activity-oda-text">
                   {{ oda.name }}
                </div>
            </a>
            <!-- end recent ativity item loop -->
        {% endfor %}
            {% if odas_list|length == 0 %}
                No hay actividad receinte
            {% endif %}
        </div>
    </div>


{% endblock %}