{% extends "logged-in.html" %}
{% load static %}
{% block content %}

<div class="grid-container">
    <div class="grid-x ">
        <div class="cell medium-12">
            <p class="search-result">{{ odas_list|length }} Resultados
                <strong>"{{ text_to_search }}"</strong>
            </p>
            <hr>
            <!-- start search item loop -->
            {% for oda in odas_list %}
                <div class="search-item">
                    <a href="{%  url 'oda_view' oda.pk %}" class="search-item-oda-image">
                        <img src="{{ oda.active_icon.file.url }}" alt="">
                    </a>
                    <div class="search-item-text">
                        <div class="oda-title-link">
                            <a href="{%  url 'oda_view' oda.pk %}">{{ oda.name }}</a>
                        </div>
                    <!-- oda.tags.all para acceder a los tags-->
                        <div class="tags">
                            {% for tag in oda.tags.all %}
                                <a href="#">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                        <div class="materia-link">
                            MATERIA:
                            <a href="{% url 'subject_view' oda.subject.pk %}"> {{ oda.subject.name }}</a>
                        </div>
                        <div class="ambito-link">
                            ÁMBITO:
                            {{ oda.subject.ambit.name }}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- end search item loop -->
        </div>

    </div>
</div>

{% endblock %}