{% extends "user_form.html" %}
{% load static %}

{% block form %}
<form action="POST" class="cell" role="form">
  {% csrf_token %}
  <div class="relative cell">
    <label class="inside-label">e-mail </label>
    <input class="input-styling" type="email" name="email" maxlength="254" required id="id_email" />
  </div>
  <div class="relative cell">
    <label class="inside-label">contraseña </label>
    {{ form.password }}
  </div>
  <div class="relative cell">
    <label class="inside-label">confirmar contraseña</label>
    {{ form.password_confirmation }}
  </div>
  <div class="cell">
    <input type="submit" class="button landing-button-hollow" value="Empezar">
  </div>
</form>

<div class="cell small-5 divider-form">
  <hr />
</div>
<div class="cell small-2 text-center divider-form">
  o
</div>
<div class="cell small-5 divider-form">
  <hr />
</div>
<div class="cell face">
  <a class="button facebook-button-hollow" href="{% url 'social:begin' 'facebook' %}">
    <i class="fab fa-facebook-square fa-2x icon-button"></i>
    Entrar con Facebook</a>
</div>
<div class="cell goog">
  <a class="button google-button-hollow" href="{% url 'social:begin' 'google-oauth2' %}">
    <img class="google-logo" src="{% static '/webapp/media/landing/Google_logo.svg' %}" alt="Google" />
    Entrar con Google</a>
</div>
<div class="cell text-center no-account">
  <p class="">
    <span>¿</span>ya tienes cuenta<span>?</span>
    <a href="{% url 'login_view'%}">inicia sesión</a>
  </p>
</div>
{% endblock form %}