<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        <label for="id_name_field">Nombre de la materia: </label>
        {{ subject.name}}

        <div>
        ODAS:
            {% for oda, state in odas_zip %}
                    <div>
                    {{ oda.name}}
                    state: {{ state }}
                    </div>
            {% endfor %}
        </div>
    </form>
</body>
</html>