{% extends "logged-in.html" %}
{% block content %}
<body>
    <form method="POST">
        {% csrf_token %}
        {% for microoda in evaluation %}
            <div class="microoda">{{ microoda.0 }}</div>
            {% for question in microoda.1 %}
                <div class="type">Tipo de pregunta: {{ question.type }}</div>
                <div class="question">{{ question.sentence }}</div>
                <div class="answers">{{ question.success_description }}</div>
                <div class="space">-----</div>
                {% endfor %}
            <div class="space">-----------------------</div>
        {% endfor %}
    </form>

</body>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        // simple request function
        $(document).ready(function () {
            $.ajax({
                url: '/api/evaluation/',
                data: {pk: 1},
                dataType: "application/json",
                success: function(msg){
                    swal('Evaluation received');
                }
            });
        });

    </script>
{% endblock %}