{% extends "logged-in.html" %}
{% load static %}
{% load vle_extras %}
{% block content %}

<div class="grid-container">
  <div class="profile-grid">
    <!-- name and progress bar -->
    <div class="name-prog">
        <h1>{{ learner_name }}</h1>
        <div class="level">{{ level.level }}</div>
        <div class="progress" id="progress"></div>
      </div>
      <!-- avatar selection -->
      <div class="avatars">
        <div class="the-avatar">
          <img src="{% static '' %}webapp/media/{{ avatar_active.name }}0{{ avatar_active.level }}.png" alt="" id="{{ avatar_active.name }}">
        </div>
        <div class="avatar-progress" id="avatarProgress"></div>
        <div class="other-avatars">
            {% for avatar in avatares %}
                <img class="the-others" src="{% static '' %}webapp/media/{{ avatar.name }}0{{ avatar.level }}.png" alt="" id="{{ avatar.name }}">
            {% endfor %}
          {% comment %}<img class="the-others" src="{% static '' %}webapp/media/B0{{ learner_level }}.png" alt="" id="B">
          <img class="the-others" src="{% static '' %}webapp/media/C0{{ learner_level }}.png" alt="" id="C">
          <img class="the-others" src="{% static '' %}webapp/media/D0{{ learner_level }}.png" alt="" id="D">{% endcomment %}
        </div>
          <input type="hidden" id="selected-avatar">
      </div>
      <!-- buttons -->
      <div class="profile-buttons">
        <button class="button expanded" type="button">Learning Style Test</button>
        <button class="button expanded" type="button" data-open="info">Información Personal</button>
        <button class="button expanded" type="button" data-open="password">Cambiar Contraseña</button>
      </div>
      <!-- badges and recent activity -->
      <div class="tabbed-content">
        <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs small-accordion"
          data-allow-all-closed="true">
          <!-- badges content -->
          <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title">Insignias</a>
            <div class="accordion-content" data-tab-content>
              <div class="accordion-grid">
                <!-- start badge -->
                  {% for badge in badges %}
                      <div class="badge-cell" version={{ badge.version }}>
                          <div class="badge-cell_stars">
                          <!--append stars here with JS-->
                          </div>
                          <div class="badge-cell_img">
                            <img src={{ badge.image.file.url }}>
                          </div>
                          <div class="badge-cell_title">
                            {{ badge.name }}
                          </div>
                      </div>
                  {% endfor %}
                <!-- end badge -->
              </div>
            </div>
          </li>
          <!-- logros -->
          <li class="accordion-item"  data-accordion-item>
            <a href="#" class="accordion-title">Logros</a>
            <div class="accordion-content" data-tab-content>
              <div class="accordion-grid">
                <!-- begin achievement    ADD 'new' FOR NEWLY ACHIEVED, ADD 'wip' TO ALL ACHIEVEMENTS, REMOVE WHEN EARNED -->
                {% for achievement in achievements %}
                    <div class="achievement wip" earned="{{ achievement.earned }}">
                      <div class="achievement_icon">
                        <img src={{ achievement.image.file.url }}>
                      </div>
                      <div class="achievement_text">
                        {{ achievement.description }}
                      </div>
                      <div class="achievement_counter">
                        {{ achievement.uodas }}
                      </div>
                      <div class="achievement_tip">
                        {{ achievement.name }}

                      </div>
                    </div>
                  {% endfor %}

                <!-- end achievement -->
              </div>
            </div>
          </li>
          <!-- recent activity -->
          <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Actividad Reciente</a>
            <div class="accordion-content" data-tab-content>
              <div class="accordion-grid">
                {% for notification in notifications reversed%}
                  <div class="recent-cell" noti-type="{{ notification.type}}">
                    <div class="recent-cell_icon">
                    </div>
                    <div class="recent-cell_num">
                      {{ notification.object }}
                    </div>
                    <div class="recent-cell_title">
                      {{ notification.description }}
                    </div>
                    <div class="recent-cell_date">
                      {{ notification.days }}d
                    </div>
                  </div>
                {% endfor %}
  
              </div>
            </div>
          </li>
          
        </ul>
        <!-- end accordion -->
      </div>
  </div>
</div>
        
<!-- modals -->

<div class="reveal" id="password" data-reveal>
  <h3 class="text-center">Cambio de Contraseña</h3>
  <p class="lead">Cambia tu contraseña de acceso</p>
     <form class="user-details-form" method="post">
        {% csrf_token %}
      <label for="current">Contraseña actual</label>
         {{ form.password }}
      <label for="current">Nueva contraseña</label>
         {{ form.new_password }}
      <label for="current">Confirmar nueva contraseña</label>
         {{ form.new_password_confirmation }}
      <div class="pass-wrapper">
        <button type="submit" class="button"> Guardar Cambios</button>
      </div>
     </form>

  <!-- x to close -->
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- end first modal -->

<div class="reveal" id="info" data-reveal>
  <h3>Información Personal</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <label for="first_name">Nombre</label>
      <input id='first_name' type="text">
    </div>
    <div class="cell medium-6">
      <label for="last_name">Apellidos</label>
      <input id='last_name' type="text">
    </div>
    <div class="cell medium-6">
      <label for="birth_date">Fecha de nacimiento</label>
      <input id='birth_date' type="date">
    </div>
    <div class="medium-12 cell">
      <legend>Sexo</legend>
        <input type="radio" name="gender" value="MALE"> HOMBRE
        <input type="radio" name="gender" value="FEMALE"> MUJER
        <input type="radio" name="gender" value="OTHER"> OTRO
        <input type="radio" name="gender" value="NA"> NO APLICA
    </div>
    <div class="cell medium-12">
      <h4>Queremos saber más de ti</h4>
      <label>¿Cuál es tu materia favorita?</label>
      <input type="text" id="materia-fav" class="extra-info-input" placeholder="ej. Historia">
      <label>¿Cuál es tu maestra favorita?</label>
      <input type="text" id="horario" class="extra-info-input" placeholder="mañana, tarde o noche">
      <label>¿Cuál es tu momento favorito?</label>
      <input type="text" id="univ" class="extra-info-input" placeholder="ej. Literatura">
    </div>
  </div>
  <div class="pass-wrapper">
    <button type="button expanded" class="button">Guardar cambios</button>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- makes  menu active -->
<script>
  document.querySelector('#top-menu-icon').classList.add("top-active");


</script>


{% endblock %}

{% block scripts %}
<script src="{% static "webapp/js/progress-bar.js" %}"></script>
<script src="{% static "webapp/js/user-profile.js" %}"></script>
{% endblock %}