{% extends "logged-in.html" %}
{% load static %}
{% load vle_extras %}
{% block content %}

<div class="grid-container">
  <div class="profile-grid">
    <!-- name and porgress bar -->
    <div class="name-prog">
        <h1>{{ learner_name }}</h1>
        <div class="level">{{ level.level }}</div>
        <div class="progress" id="progress"></div>
      </div>
      <!-- avatar selection -->
      <div class="avatars">
        <div class="the-avatar">
          <img src="{% static '' %}webapp/media/{{ request.user.profile.avatar }}0{{ request.user.profile.experience_points|learner_level }}.png" alt="" id="{{ request.user.profile.avatar }}">
        </div>
        <div class="avatar-progress" id="avatarProgress"></div>
        <div class="other-avatars">

          <img class="the-others" src="{% static '' %}webapp/media/B0{{ learner_level }}.png" alt="" id="B">
          <img class="the-others" src="{% static '' %}webapp/media/C0{{ learner_level }}.png" alt="" id="C">
          <img class="the-others" src="{% static '' %}webapp/media/D0{{ learner_level }}.png" alt="" id="D">
        </div>
      </div>
      <!-- buttons -->
      <div class="profile-buttons">
        <button class="button expanded" type="button">Learning Style Test</button>
        <button class="button expanded" type="button" data-open="info">Información Personal</button>
        <button class="button expanded" type="button" data-open="password">Cambiar Contraseña</button>
      </div>
      <!-- badges and recent activity -->
      <div class="tabbed-content">
        <ul class="accordion" data-responsive-accordion-tabs="accordion medium-tabs small-accordion"
          data-allow-all-closed="true">
          <!-- badges content -->
          <li class="accordion-item " data-accordion-item>
            <a href="#" class="accordion-title">Insignias</a>
            <div class="accordion-content" data-tab-content>
              <div class="accordion-grid">
                <!-- start badge -->
                  {% for badge in badges %}
                      <div class="badge-cell" version={{ badge.version }}>
                          <div class="badge-cell_stars">
                            <i class="fa fa-star earned"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="badge-cell_img">
                            <img src={{ badge.image.file.url }} alt="">
                          </div>
                          <div class="badge-cell_title">
                            {{ badge.name }}
                          </div>
                      </div>
                  {% endfor %}
                <!-- end badge -->
              </div>
            </div>
          </li>
          <!-- logros -->
          <li class="accordion-item"  data-accordion-item>
            <a href="#" class="accordion-title">Logros</a>
            <div class="accordion-content" data-tab-content>
              <div class="accordion-grid">
                <!-- begin achievement    ADD 'new' FOR NEWLEY AHCIEVED, ADD 'wip' TO ALL ACHIEVEMENTS, REMOVE WHEN EARNED -->
                {% for achievement in achievements %}
                    <div class="achievement">
                      <div class="achievement_icon">
                        <img src={{ achievement.image.file.url }} alt="">
                      </div>
                      <div class="achievement_text">
                        {{ achievement.description }}
                      </div>
                      <div class="achievement_counter">
                        {{ achievement.uodas }}
                      </div>
                      <div class="achievement_tip">
                        Desbloquea versión de la Insignia
                      </div>
                    </div>
                  {% endfor %}
                  <div class="achievement">
                  <div class="achievement_icon">
                    <img src="{% static 'webapp/media/insignias/insignia_login.png' %}" alt="">
                  </div>
                  <div class="achievement_text">
                    Completa 7 µODAs del propedéutico de ciencias
                  </div>
                  <div class="achievement_counter">
                    7/7
                  </div>
                  <div class="achievement_tip">
                    Desbloquea primera versión de la Insignia
                  </div>
                </div>
                <!-- end echievemetn -->
              </div>
            </div>
          </li>
          <!-- recent activity -->
          <li class="accordion-item is-active" data-accordion-item>
            <a href="#" class="accordion-title">Actividad Reciente</a>
            <div class="accordion-content" data-tab-content>
              <div class="accordion-grid">
                  <div class="recent-cell">
                      <div class="recent-cell_icon">
                        <img src="../assets/media/pwa-icons/icon-96x96.png" alt="">                     
                      </div>
                      <div class="recent-cell_num">
                        2000 XP
                      </div>
                      <div class="recent-cell_title">
                        uODA - Quimica organica 2
                      </div>
                      <div class="recent-cell_date">
                        1d
                      </div>
                    </div>
  
              </div>
            </div>
          </li>
          
        </ul>
        <!-- end accordion -->
      </div>
  </div>
</div>
        
<!-- modals -->

<div class="reveal" id="password" data-reveal>
  <h3 class="text-center">Cambio de Contraseña</h3>
  <p class="lead">Cambia tu contraseña de accesso</p>
  <label for="current">Contraseña actual</label>
  <input type="password" id="new">
  <label for="current">Nueva contraseña</label>
  <input type="password" id="newConfirm">
  <label for="current">Confirmar nueva contraseña</label>
  <input type="password" id="current">
  <div class="pass-wrapper">
    <button type="button expanded" class="button">Guardar cambios</button>
  </div>

  <!-- x to close -->
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- end first modal -->

<div class="reveal" id="info" data-reveal>
  <h3>Información Personal</h3>
  <div class="grid-x grid-margin-x">
    <div class="cell medium-6">
      <label>Nombre</label>
      <input type="text">
    </div>
    <div class="cell medium-6">
      <label>Apellidos</label>
      <input type="text">
    </div>
    <div class="cell medium-6">
      <label>Fecha de nacimiento</label>
      <input type="date">
    </div>
    <div class="medium-12 cell">
      <legend>Sexo</legend>
      <input type="radio" name="sexo" value="femenino" id="sexo_femenino">
      <label for="sexo_femenino">Femenino</label>
      <input type="radio" name="sexo" value="masculino" id="sexo_masculino">
      <label for="sexo_masculino">Masculino</label>
      <input type="radio" name="sexo" value="femenino" id="sexo_femenino">
      <label for="sexo_femenino">Femenino</label>
      <input type="radio" name="sexo" value="masculino" id="sexo_masculino">
      <label for="sexo_masculino">Masculino</label>
    </div>
    <div class="cell medium-12">
      <h4>Queremos saber más de ti</h4>
      <label>¿Cuál es tu materia favorita?</label>
      <input type="text">
      <label>¿Cuál es tu maestra favorita?</label>
      <input type="text">
      <label>¿Cuál es tu momento favorito?</label>
      <input type="text">
    </div>
  </div>
  <div class="pass-wrapper">
    <button type="button expanded" class="button">Guardar cambios</button>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- makes  menu active -->
<script>
  document.querySelector('#top-menu-icon').classList.add("top-active");
</script>


{% endblock %}

{% block scripts %}
<script src="{% static "webapp/js/progress-bar.js" %}"></script>
{% endblock %}