body {
    font-family: 'Bryant';
}

.some-frame {
border: solid 1px black;
height: 90vh;

}

.h5p-content{
overflow: auto;
height: 100%;
}


.h5p-container {
height: 100%;

}


@charset "UTF-8";

/* Bryant Web Light */
@font-face {
  font-family: 'Bryant';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/BryantPro-Light.otf");
}


/* Bryant Web Regular */
@font-face {
  font-family: 'Bryant';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BryantPro-Regular.otf");
}


/* Bryant Web Medium */
@font-face {
  font-family: 'Bryant';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BryantPro-Medium.otf");
}


/* Bryant Web Bold */
@font-face {
  font-family: 'Bryant';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BryantPro-Bold.otf");
}

